body{
    font-family: 'Poppins', sans-serif;
    margin: o;
}
.eye-catching{
    color: goldenrod;
}
.container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    
    
}
.half-width{
    width:50%;
}
div img{
    width: 70%;
}
#first-headding{
    font-size: larger;
    
    margin-left: 10%;
    margin-top: 3%;
    font-size: larger;
}
.link-button{
            text-decoration: none;
            background-image: linear-gradient(rgb(218, 114, 29), red);
            border: 2px solid rgb(202, 110, 35);
            
            border-radius: 10px;
            padding-left: 2%;
            padding-right: 2%;
            padding-top: 2%;
            padding-bottom: 2%;
            
            color: white;
            font-size: medium;
            font-weight: 700;
            

}
.top-margin{
    margin-top: 10%;
}
.back-image{
    background-image: url(background-pic.png);
}
.half-pic{
    width: 60%;
}
.second-pic{
    width: 30%;
    padding-left: 20%;
}
.recipies{
    text-align: center;
    color: gray;
    margin-left: 20%;
    margin-right: 20%;
}
.recipie-pic-border{
    width: 300px;
    height: 200px;
    
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    
    
}
.recipie-item{
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:5%;
    margin-right:5%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 20px gray;
    width: 20%;


}
img{
    border-radius: 20px;
    
}
.review-part{
    width: 30%;
    padding-left: 60px;
    padding-right: 10px;
    
}
#review-border{
    
    
    
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 4px 4px 10px gray;
}
.add-footer{
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: blanchedalmond;
}